### Home Learning Tasks and Random

#### How many rows and columns are there in your file?

In [1]:
import numpy as np
import pandas as pd

In [8]:
dest_data = pd.read_csv("Holiday_destinations.csv")

In [9]:
dest_data.head(15)

     Destinations  Score  Hotel_Rating  Num_of_hotels Most_visited_city
0    Saudi Arabia      9          4.70           8355            Makkah
1         Holland      7          4.60           5350            Almere
2           Japan      8          4.80           6745          Nagasaki
3       Lithuania      6          4.30          10973            Kaunas
4    South Africa      7          4.50          63428          Barbados
5           Egypt      6          4.30           5982             Cairo
6         England      8          4.75           9955        Birmingham
7        Portugal      8          4.67           4204            Azores
8         Germany      8          4.86          12829      Oberammergau
9           Qatar      7          4.65            109              Doha
10         Greece      8          4.40          37827             Halki
11  United States      9          4.75          52863     National Park
12       Scotland      8          4.80           1870      East Lothian
13        Nigeria      8          4.30          10234             Abuja
14            UAE      9          4.90           1150             Dubai

In [10]:
print("The number of rows and columns are: ", dest_data.shape)

The number of rows and columns are:  (15, 5)

#### Print row 3 - 8 (using iloc/loc)

In [12]:
print(dest_data.iloc[3:9])

   Destinations  Score  Hotel_Rating  Num_of_hotels Most_visited_city
3     Lithuania      6          4.30          10973            Kaunas
4  South Africa      7          4.50          63428          Barbados
5         Egypt      6          4.30           5982             Cairo
6       England      8          4.75           9955        Birmingham
7      Portugal      8          4.67           4204            Azores
8       Germany      8          4.86          12829      Oberammergau

#### Find the mean number of all-inclusive hotels across all destinations

In [17]:
print("The mean number of all-inclusive hotels across all destinations is \n")
print(dest_data["Num_of_hotels"].mean())
print(dest_data["Num_of_hotels.mean())

The mean number of all-inclusive hotels across all destinations is

15458.266666666666

Find the lowest scoring destination
Find the highest scoring destination
Find all the destinations where there are more than 9 all-inclusive hotels
Filter the data by score above 8
Filter the data score below 2 (I need to know if these destinations should be removed or there is a problem)
Extension
1. Is there a correlation between number of all-inclusive hotels and score?
2. Create a data visualisation diagram to show destination and highest scores.